<div class="container">
  <div class="row">
    <h1 class="titulo mx-auto">
      {{ title }}
    </h1>
    <nav class="navbar navbar-light container-fluid">
      <ul class="navbar-nav flex-row mr-auto">
      	<li class="nav-item">
      		<a class="nav-link" [routerLink]="['home']">Home</a>
      	</li>
    		<li class="nav-item">
    			<a class="nav-link" [routerLink]="['gestor-movimientos']">Gestor de Movimientos</a>
    		</li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isLoggedIn()" (click)="authService.logOut()" [routerLink]="['login']">Cerrar Sesion</a>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>