<div>
	<h2 class="my-3">Gestor de Movimientos</h2>
	<div class="row row-cols-1 row-cols-md-2 m-1">
		<button class="btn btn-success mb-3 col-12 col-md-8" (click)="add()">
			<span class="material-icons">add_circle_outline</span>Nueva transferencia
		</button>
		<div class="col selector p-md-2">
			<label class="mr-2">Tipo: </label>
			<select class="form-control col-8 col-md" [(ngModel)]="typeSelected" (ngModelChange)="typeSelection()">
				<option value="">Todos</option>
				<option value="Ingreso">Ingreso</option>
				<option value="Egreso">Egreso</option>
			</select>
		</div>
		<div class="col selector p-md-2">
			<label class="mr-2">Categoria: </label>
			<select class="form-control col-8 col-md" [(ngModel)]="categorySelected" (ngModelChange)="categorySelection()">
				<option value="0">Todos</option>
				<option *ngFor="let category of categories | keyvalue" [ngValue]="category.key">{{ category.value }}</option>
			</select>
		</div>
	</div>
	<ul class="my-1">
		<li *ngFor="let m of movements">
			<app-movement
				[mount] = 'm.mount'
				[type] = 'm.type'
				[category_id] = 'm.category'
				[concept] = 'm.concept'
				[date] = 'm.date'
				[id] = 'm.id'
				[edit] = 'true'>
			</app-movement>
		</li>
	</ul>	
</div>
