<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Eliminar Movimento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	¿Está seguro/a que desea eliminar este registro?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Eliminar</button>
  </div>
</ng-template>
<div class="movement-container mx-auto" (mouseover)="showDarkScreen()" (mouseout)="hideDarkScreen()">
	<div #dark_screen class="dark-screen">
		<div class="edit-button" (click)="editClick()">Editar</div>
		<div class="delete-button" (click)="deleteClick(deleteModal)">Eliminar</div>
	</div>
	<div class="col-4 col-md-2">
		<div class="tag d-block">Monto</div>
		<div>{{ mount }}</div>
	</div>
	<div class="vl"></div>
	<div class="col-4 col-md-2">
		<div class="tag d-block">Tipo</div>
		<div>{{ type }}</div>
	</div>
	<div class="vl"></div>
	<div class="col-4 col-md-2">
		<div class="tag d-block">Categoria</div>
		{{ category_name }}
	</div>
	<div class="vl"></div>
	<div class="col-6 col-md-3">
		<div class="tag d-block">Concepto</div>
		{{ concept }}
	</div>
	<div class="vl"></div>
	<div class="col-6 col-md-3">
		<div class="tag d-block">Fecha</div>
		{{ date }}
	</div>
</div>