<div class="modal-header">
	<h4 class="modal-title">Edite los datos de Transferencia</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-content">
	<form [formGroup]="fg"
	(ngSubmit)="save(fg.controls['mount'].value, fg.controls['concept'].value)">
		<div class="form-group">
			<label for="mount">Monto</label>
			<input type="number" step="10" placeholder="{{mount}}" autocomplete="off" class="formControl"formControlName="mount" >
			<div *ngIf="fg.controls['mount'].invalid && fg.controls['mount'].touched">
				<div *ngIf="fg.controls['mount'].errors.required">Monto vacio.</div>
				<div *ngIf="fg.controls['mount'].errors.invalidMount">Monto invalido.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="concept">Concepto</label>
			<input type="text" placeholder="{{concept}}" autocomplete="off" class="formControl" formControlName="concept">
			<div *ngIf="fg.controls['concept'].invalid && fg.controls['concept'].touched">Concepto vacio.</div>
		</div>
		<button	type="submit" class="btn btn-primary" *ngIf="fg.valid" (click)="activeModal.close('Close click')">Guardar Cambios</button>
	</form>
</div>