<div class="modal-header">
	<h4 class="modal-title">Edite los datos de Transferencia</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-content">
	<form [formGroup]="fg" (ngSubmit)="save()" class="col-12 col-sm-8 mx-auto py-3">
		<div class="form-group">
			<label for="mount">Monto</label>
			<input type="number" step="10" autocomplete="off" class="form-control" formControlName="mount" ngbAutofocus>
			<div *ngIf="fg.controls['mount'].invalid && fg.controls['mount'].touched">
				<div class="alert alert-danger" *ngIf="fg.controls['mount'].errors.required">Por favor ingrese un monto.</div>
				<div class="alert alert-danger" *ngIf="fg.controls['mount'].errors.invalidMount">Monto invalido. Ingrese un monto mayor a 0.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="type">Categoria</label>
			<select formControlName="category" class="form-control">
				<option *ngFor="let category of categories | keyvalue" [ngValue]="category.key">{{ category.value }}</option>
			</select>
			<div class="alert alert-danger" *ngIf="fg.controls['category'].invalid && fg.controls['category'].touched">Por favor seleccione una categoria.</div>
		</div>
		<div class="form-group">
			<label for="concept">Concepto</label>
			<input type="text" autocomplete="off" class="form-control" formControlName="concept">
			<div class="alert alert-danger" *ngIf="fg.controls['concept'].invalid && fg.controls['concept'].touched">Por favor ingrese un concepto.</div>
		</div>
		<button	type="submit" class="btn btn-primary w-100 py-2" [disabled]="!fg.valid">Guardar Cambios</button>
	</form>
</div>