/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
	text-align: center;
}
li {
	list-style: none;
}
ul {
	padding: 0;
}